<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<h2>注册 页面</h2>
		<form action="/doRegister" method="post">
			<label for="name">用户名</label>
			<input type="text" name="name" />
			<br /><br />
			<label for="age">密 码 </label>
			<input type="age" name="age" />
			<br /><br />
			<input type="submit" value="提交" />
		</form>
	</body>
</html>
